@charset "utf-8";

*{margin:0; padding:0;}
body{font-family: 'Noto Sans KR', sans-serif;
        letter-spacing:0;}
a{text-decoration:none;}
li{list-style:none;}
header{width:100%;
        height:80px;
        border-bottom:1px solid #dddddd;}
nav{float:left;
        margin-left:85px;
        padding-top:30px;}
nav li{float:left;
        margin-left:10px;}
nav li a{font-size:12px;
        font-family:'Noto Sans KR', sans-serif;
        font-weight:400;
        letter-spacing:0;
        color:#000000; }
nav li:nth-child(1){margin-left:0;}
.logo{width:80px;
        padding-top:20px;
        position:absolute;
        left:50%;
        margin-left:-40px;}
.logo img{width:100%;}

.nav_right{margin-right:85px;
        padding-top:25px;
        position:absolute;
        right:0;
        z-index: 99;
        cursor:pointer;}
.nav_right>a:nth-child(1){font-size:12px;
        font-family:'Noto Sans KR', sans-serif;
        font-weight:400;
        letter-spacing:0;
        color:#767676;
        padding-top:10px;
        position: absolute;
        left:-130px;}
.sub_brand_list{width:150px;
        height:30px;
        overflow: hidden;
        border:1px solid #dddddd;
        border-top:0;
        border-radius:15px;
        padding-left:15px;
        background-color:#ffffff;}
.sub_brand_list:hover{height:220px;}
.sub_brand_list li{line-height:30px;
        font-size:12px;
        font-family:'Noto Sans KR', sans-serif;
        font-weight:300;
        letter-spacing:0;
        color:#767676;}
.sub_brand_list li a{font-size:12px;
        font-family:'Noto Sans KR', sans-serif;
        font-weight:300;
        letter-spacing:0;
        color:#767676;}
.sub_brand_list li a:hover{color:#12B7D6;
        font-weight:500;}
.brand_list_title{width:167px;
        height:32px;
        line-height:32px;
        border:1px solid #dddddd;
        border-radius:15px;
        box-sizing: border-box;
        padding-left: 15px;
        margin-left: -16px;}
.nav_right svg{line-height:23px;
        position:absolute;
        top:38px;
        right:13px;}
        
/* header 완료 product_header */

.product_header{width:100%;
        height:300px;}
.product_header h3{font-family: 'Blinker', sans-serif;
        font-weight:500;
        letter-spacing:1px;
        font-size:36px;
        line-height:46px;
        text-align:center;
        padding-top:80px;}
.product_header span{width:300px;
        font-size:16px;
        font-weight:400;
        line-height:24px;
        text-align:center;
        color:#000000;
        display:block;
        margin:0 auto;}

/* product_search */

.product_search{width:450px;
        height:45px;
        margin:40px auto 0;
        position:relative;}
.product_search input{width:420px;
        height:45px;
        border-radius:23px;
        border:1px solid #dddddd;
        padding-left:30px;}
.product_search svg{line-height:45px;
        position:absolute;
        top:13px;
        right:15px;
        cursor: pointer;}

/* product_new */

.product_new{width:1460px;
        height:400px;
        margin:0 auto;}
.product_new li{width:280px;
        height:355px;
        float:left;
        margin-left:15px;}
.product_new li:nth-child(1){margin-left:0;}
.product_new li img{width:100%;
        transition: transform 0.3s;}
.product_new li:hover img {
        transform: scale(1.1);}
.product_new li p{font-size:14px;
        font-weight:500;
        line-height:22px;
        text-align:center;
        color:#000000;
        padding-top:10px;}
.product_new li span{font-size:11px;
        font-weight:400;
        line-height:16px;
        text-align:center;
        color:#565656;
        display:block;}

/*  */
.product_wrap_1{width:100%;
        height:1500px;
        background-color:#f3f3f3;
        padding-top:80px;
        position:relative;}
.product_wrap_1>ul{width:1460px;
        margin: 0 auto;}
.product_wrap_1>ul>li{width:355px;
        overflow:hidden;
        float:left;
        margin-left:10px;}
.product_wrap_1>ul>li > a{width:100%;
        height: 355px;
        display: block;
        overflow: hidden;}

.product_wrap_1 li img{width:100%;
        transition: transform 0.3s;}
.product_wrap_1 li:hover img {
        transform: scale(1.1);
        transition: transform 0.3s ease;}
.product_wrap_1 li p{font-size:14px;
        font-weight:500;
        line-height:22px;
        text-align:center;
        color:#000000;
        padding-top:10px;}
.product_wrap_1 li span{font-size:11px;
        font-weight:400;
        line-height:16px;
        text-align:center;
        color:#565656;
        display:block;
        margin-bottom:40px;}

/* product_page_num */

.product_page_num{width:280px;
        height:25px;
        position:absolute;
        bottom:60px;
        left:50%;
        transform:translate(-50%, 0);
        display:flex;
        justify-content:space-between;
        align-items: center;}
.product_page_num svg{display: block;}
.product_page_num ul{display:flex;
        gap:10px;}
.product_page_num li{width:25px;
        height:25px;
        font-size:14px;
        font-weight:400;
        line-height:25px;
        text-align:center;}
.product_page_num li a{color:#565656;}
.product_page_num li:nth-child(1){font-weight:500;
        background-color:#ffffff;
        border-radius:15px;}

/* footer */

footer{width:100%;
        height:135px;}
footer ul{width:70%;
        display:flex;
        margin:0 auto;}
footer ul li:nth-child(1){margin-left:0;}
footer li{color:#767676;
        font-size:11px;
        font-weight:300;
        line-height:16px;
        color:#767676;
        margin-left:20px;
        padding-top:30px;}
footer li span{font-size:14px;
        font-weight:500;
        color:#767676;
        display:block;}
